.header {
  display: grid;
  grid-template-columns: 20% 5% 65%;
  grid-column-gap: 10px;
  background: #000000;
  color: gray;
  height: 70px;
  margin: 0;
  padding: 5px;
}

.header > form {
  grid-row: 1;
  grid-column: 3;
  margin-top: 12px;
}

.header input {
  width: 90%;
  height: 24px;
}

.page-title {
  grid-row: 1 / 3;
  grid-column: 1;
  font-size: 2em;
  margin-left: 2.5em;
  text-align: right;
  font-family: consolas, monospace, sans-serif;
}

.table {
  display: grid;
  grid-template-columns: 100%;
  margin: 20px 0;
}

.table-row {
  padding: 10px;
  border: none;
  position: relative;
}

a.sub-link {
  font-size: smaller;
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
  opacity: 0.75;
}

a.sub-link:hover {
  text-decoration: underline;
}

.dismiss-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 5px;
  font-size: smaller;
}

.dismiss-btn:hover {
  color: white;
  background-color: red;
}

.filter-box {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 24px;
}

.filter-box > input {
  grid-column: 2;
  width: 90%;
}

.loader {
  text-align: center;
}
