body {
  color: #222;
  background: white;
  font: 400 16px "Quicksand", CoreSans, Arial, sans-serif;
  width: 75%;
  margin: auto;
}

a {
  color: #383838;
}

a:hover {
  text-decoration: underline;
  color: #0065ff;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  font-size: inherit;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

*:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}
